<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" width="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="../static/layui/layui.js"></script>

</head>

<body>
    <div class="box">
        <h2>用户登录</h2>
        <form name="userloginForm" onsubmit="return validateForm()" method="post">
            <div class="input-box">
                <label>账号</label>
                <input type="text" id="usernameInput" name="username"> <!-- 添加id属性，方便后续获取值 -->
            </div>
            <div class="input-box">
                <label>密码</label>
                <input type="password" name="password">
            </div>
            <div class="btn-box">
                <a href="../admin/admin_login.html">管理员登陆</a>
                <div>
                    <button type="submit">登录</button>
                    <button type="button" onclick="window.location.href='../user/user_register.html';">注册</button>
                </div>
            </div>
        </form>
    </div>
</body>

<script>
    function showError(msg) {
        layui.use('layer', function () {
            let layer = layui.layer;
            layer.msg(msg); // 默认风格
        });
    }

    function validateForm() {
        let username = document.getElementById("usernameInput").value; // 通过id获取账号值
        let password = document.forms["userloginForm"]["password"].value;
        let usernameRegex = /^[a-zA-Z]{3,}$/;
        let passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$/;

        if (username === "" || username == null) {
            showError("账号不能为空");
            return false;
        }

        if (password === "" || password == null) {
            showError("密码不能为空");
            return false;
        }

        // 格式验证通过后，使用Ajax发送数据到后端
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "/user_login_check",  // 后端验证登录的接口地址，需根据实际情况修改
            data: {
                username: username,
                password: password
            },
            dataType: "json",
            success: function (response) {
                if (response.status === 1) {
                    showError(response.msg);
                    // 将用户名存储到localStorage中，方便在user_main页面获取使用
                    localStorage.setItem("loggedInUsername", username);
                    window.location.href = "user_main.html";
                }
                showError(response.msg);
            },
            error: function () {
                alert("请求发生错误，请稍后再试");
            }
        });
        return false;  // 阻止表单默认提交行为，因为使用了Ajax提交
    }
</script>

</html>