<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全视AI</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- 引入jQuery库，方便使用Ajax -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-src/dist/css/layui.css" media="all">
    <script src="https://cdn.jsdelivr.net/npm/layui-src/dist/layui.all.js"></script>
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black">欢迎来到全视AI</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                    <a href="javascript:;">
                        <!-- 账户名 -->
                    </a>
                    <dl class="layui-nav-child">
{#                        <dd><a href="user_msg.html">个人信息</a></dd>#}
                        <dd><a href="login.html">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="javascript:;">个人信息</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-url="user_msg.html">查看个人信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">AI列表</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-url="./chat.html">聊天机器人</a></dd>
                            <dd><a href="javascript:;" data-url="./chat.html">图片生成</a></dd>
                            <dd><a href="javascript:;" data-url="#">视频生成</a></dd>

                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="margin: 0; padding: 0;" id="main-content">
                <h2>欢迎您使用全视AI</h2>

            </div>
        </div>

    </div>

    <script>

               window.onload = function () {
            var loggedInUsername = localStorage.getItem("loggedInUsername");
            if (loggedInUsername) {
                // 替换导航栏中的账户名显示
                var userNavItem = document.querySelector('.layui-nav-item.layui-show-md-inline-block');
                if (userNavItem) {
                    var userLink = userNavItem.querySelector('a');
                    if (userLink) {
                        userLink.innerHTML = '<img src="../static/images/logo.png" class="layui-nav-img">' + loggedInUsername;
                    }
                }
                // 替换内容主体区域的欢迎语
                var welcomeTextElement = document.getElementById('main-content').querySelector('h2');
                if (welcomeTextElement) {
                    welcomeTextElement.innerHTML = loggedInUsername + '，感谢您使用全视AI';
                }
            }
        };

        layui.use(['element', 'layer', 'util'], function () {
            var element = layui.element
               , layer1 = layui.layer
               , util = layui.util
               , $ = layui.$;
            util.event('lay-header-event', {
                // 左侧菜单事件
                menuLeft: function (othis) {
                    layer1.msg('展开左侧菜单的操作', { icon: 0 });
                }
               , menuRight: function () {
                    layer1.open({
                        type: 1,
                        content: '<div style="padding: 15px;">处理右侧面板的操作</div>',
                        area: ['260px', '100%'],
                        offset: 'rt', // 右上角
                        anim: 5,
                        shadeClose: true
                    });
                }
            });

            layui.use(['jquery'], function () {
                var $ = layui.jquery;

                $('.layui-nav-child a').on('click', function () {
                    var url = $(this).data('url');
                    if (url) {
                        $('#main-content').load(url);  // 使用 AJAX 加载指定页面内容到主体区域
                    }
                });
            });
        });
    </script>

</body>

</html>