<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <link rel="stylesheet" href="../static/css/user_register.css">
    <script>
        function validateForm() {
            var username = document.forms["userloginForm"]["username"].value;
            var password = document.forms["userloginForm"]["password"].value;
            var email = document.forms["userloginForm"]["email"].value;
            var usernameRegex = /^[a-zA-Z]{3,}$/;
            var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,12}$/;
            var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if (!usernameRegex.test(username)) {
                alert("账号格式错误：必须是3个及以上的英文字母");
                return false;
            }

            if (!passwordRegex.test(password)) {
                alert("密码格式错误：必须是6~12位，必须包含英文和数字");
                return false;
            }

            if (!emailRegex.test(email)) {
                alert("邮箱格式错误，请输入正确的邮箱地址");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="box">
        <h2>用户注册</h2>
        <form name="userloginForm" onsubmit="return validateForm()" method="post">
            <div class="input-box">
                <label>账号</label>
                <input type="text" name="username">
            </div>
            <div class="input-box">
                <label>密码</label>
                <input type="password" name="password">
            </div>
            <div class="input-box">
                <label>邮箱</label>
                <input type="email" name="email">
            </div>
            <div class="btn-box">
                <div>
                    <button type="button">注册</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>