<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全视AI</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/js/jquery-3.5.1.js"></script>
    <script src="../static/layui/layui.js"></script>
</head>
<style>
.layui-body {
    background-image: url('../static/images/user_main.jpg');
    background-size: cover; /* 设置背景图片自适应填充整个元素 */
    background-position: center center; /* 让图片居中显示 */
    background-repeat: no-repeat; /* 禁止图片重复平铺 */
    opacity: 0.8; /* 设置整个元素（包含内容及背景）的透明度为0.5 */
}
</style>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-hide-xs layui-bg-black"> <img src="../static/images/logo.png" class="layui-nav-img">感谢使用全视AI</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                    <a href="javascript:;">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="sign_in()">签到</a></dd>
                        <dd><a href="login.html" onclick="sign_out()">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a href="javascript:;">个人信息</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-url="user_msg.html">查看个人信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">AI列表</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" data-url="./chat.html">聊天机器人</a></dd>
                            <dd><a href="javascript:;" data-url="./chat.html">图片生成</a></dd>
                            <dd><a href="javascript:;" data-url="#">视频生成</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="margin: 0; padding: 0;" id="main-content">
                <h2>欢迎您使用全视AI</h2>

            </div>
        </div>

    </div>

    <script>
        function showError(msg) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg(msg);
            });
        }

        function sign_out() {
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/user_sign_out",  // 后端验证登录的接口地址，需根据实际情况修改
                dataType: "json",
                success: function (response) {
                    if (response.status === 1) {
                    showError('成功登出');
                    }else{
                        showError(response.msg);
                    }
                },
                error: function () {
                    showError("请求发生错误，请稍后再试");
                }
            });
        }

        function sign_in() {
            var user_id = localStorage.getItem("user_id");
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/sign_in",  // 后端验证登录的接口地址，需根据实际情况修改
                dataType: "json",
                data:{
                  user_id: user_id
                },
                success: function (response) {
                    if (response.status === 1) {
                    showError('签到成功');
                    }else{
                        showError(response.msg);
                    }
                },
                error: function () {
                    showError("请求发生错误，请稍后再试");
                }
            });
        }

        window.onload = function () {
            var loggedInUsername = localStorage.getItem("loggedInUsername");
            if (loggedInUsername) {
                // 替换导航栏中的账户名显示
                var userNavItem = document.querySelector('.layui-nav-item.layui-show-md-inline-block');
                if (userNavItem) {
                    var userLink = userNavItem.querySelector('a');
                    if (userLink) {
                        userLink.innerHTML = '<img src="../static/images/logo.png" class="layui-nav-img">' + loggedInUsername;
                    }
                }
            }
            getModelInfo();
        };

function getModelInfo() {
    $.ajax({
        type: "POST",
        contentType: 'application/json',
        url: "/admin/get_AI_list",  // 这里需替换为实际获取模型信息的后端接口地址
        dataType: "json",
        success: function (response) {
            if (response.status === 1 && response.data && response.data.length > 0) {
                var modelInfoArray = response.data;
                // 将模型信息存储到本地
                localStorage.setItem('aiModels', JSON.stringify(modelInfoArray));

                // 获取AI列表对应的DOM元素
                var aiListNavItem = document.querySelector('li.layui-nav-item.layui-nav-itemed');
                if (aiListNavItem) {
                    // 清空原有的AI列表下的dl.layui-nav-child内容
                    var oldChildList = aiListNavItem.querySelector('dl.layui-nav-child');
                    if (oldChildList) {
                        oldChildList.innerHTML = "";
                    }
                    var newChildContent = '';  // 创建一个空字符串来存放新的列表项
                    modelInfoArray.forEach((modelInfo, index) => {
                        // 给每个模型添加一个id，这个id对应模型在列表中的下标
                        newChildContent += `<dd><a href="javascript:;" data-id="${index}" data-url="./chat.html">${modelInfo.model_name}</a></dd>`;
                    });

                    // 将新生成的内容插入到原有的子元素中
                    if (oldChildList) {
                        oldChildList.innerHTML = newChildContent;  // 使用innerHTML一次性插入所有内容
                    }

                    // 使用layui为新添加的链接绑定点击事件
                    layui.use(['jquery'], function () {
                        var $ = layui.jquery;
                        var parentElement = aiListNavItem.querySelector('dl.layui-nav-child');
                        if (parentElement) {
                            $(parentElement).on('click', 'a', function () {
                                var modelId = $(this).data('id');  // 获取点击的模型的id
                                if (modelId !== undefined) {
                                    // 从本地存储中获取相应的模型信息
                                    var aiModels = JSON.parse(localStorage.getItem('aiModels'));
                                    var selectedModel = aiModels[modelId];

                                    // 将模型信息存储到本地以便跳转后使用
                                    localStorage.setItem('selectedModel', JSON.stringify(selectedModel));

                                    // 跳转到模型详情页面
                                    var url = $(this).data('url');
                                    if (url) {
                                        $('#main-content').load(url);
                                    }
                                }
                            });
                        }
                     });
                    layui.use(['element', 'layer', 'util'], function () {
                        var element = layui.element
                            , layer1 = layui.layer
                            , util = layui.util
                            , $ = layui.$;
                        element.init();
                    });
                }
            } else {
                showError("获取模型信息失败，请稍后再试");
            }
        },
        error: function () {
            showError("请求获取模型信息发生错误，请稍后再试");
        }
    });

}


        layui.use(['element', 'layer', 'util'], function () {
            var element = layui.element
              , layer1 = layui.layer
              , util = layui.util
              , $ = layui.$;

            util.event('lay-header-event', {
                // 左侧菜单事件
                menuLeft: function (othis) {
                    layer1.msg('展开左侧菜单的操作', { icon: 0 });
                }
              , menuRight: function () {
                    layer1.open({
                        type: 1,
                        content: '<div style="padding: 15px;">处理右侧面板的操作</div>',
                        area: ['260px', '100%'],
                        offset: 'rt', // 右上角
                        anim: 5,
                        shadeClose: true
                    });
                }
            });

            layui.use(['jquery'], function () {
                var $ = layui.jquery;

                $('.layui-nav-child a').on('click', function () {
                    var url = $(this).data('url');
                    if (url) {
                        $('#main-content').load(url);  // 使用 AJAX 加载指定页面内容到主体区域
                    }
                });
            });
        });
    </script>

</body>

</html>