<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, user-scalable=, initial-scale=, maximum-scale=, minimum-scale=">
    <meta http-equiv="X-UA-Compatible" content="ie=">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>test</title>
</head>
<body>
<div id="content"></div>
<script>
  document.getElementById('content').innerHTML = marked.parse('观察可以得到组成最大数的最优组成方式是${x_n~~~x_{n-1}~~~x_{n-2}~~~x_{n-3}~~~x_{n-4}~~~x_{n-5}~~~x_{n-6}....}$相差为1的递减形式');
</script>

</body>
</html>